<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增信息</title>
</head>
<body>

<form action="" method="post"> {% csrf_token %}


    <p>车牌号：<input type="text" name="Car_License" value="{{ CarObj.Car_License }}"></p>
    <p>车型：<input type="text" name="Car_Type" value="{{ CarObj.Car_Type }}"></p>
    <p>电量：<input type="text" name="Car_Electric_Quantity" value="{{ CarObj.Car_Electric_Quantity }}"></p>
    <p>里程数：<input type="text" name="Car_Mileage" value="{{ CarObj.Car_Mileage }}"></p>
    <p>是否在使用：<input type="text" name="Car_IsUse" value="{{ CarObj.Car_IsUse }}"></p>
    <p>当前经度：<input type="text" name="Car_Current_PosX" value="{{ CarObj.Car_Current_PosX }}"></p>
    <p>当前纬度：<input type="text" name="Car_Current_PosY" value="{{ CarObj.Car_Current_PosY }}"></p>

    <button>提交</button>


</form>


</body>
</html>