<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>信息录入</title>
    <link rel="stylesheet" href="{% static "controller/css/base_CRUD.css" %}">
</head>

<body style="background-color: #030829">
    <!-- 顶部 -->
    <header class="header left">
        <div class="left nav">
            <ul>
                <li class="nav_active"><i class="nav_1"></i><a href="{% url "controller:index" %}">数据概览</a> </li>
                <!-- <li><i class="nav_2"></i><a href="carContrl.html">车辆监控</a> </li> -->
                <!-- <li><i class="nav_3"></i><a href="map.html">地图界面</a> </li> -->
            </ul>
        </div>
        <div class="header_center left">
            <h2><strong>无人车智能管理系统</strong></h2>
            <p class="color_font"><small>Unmanned vehicle intelligent management system</small></p>
        </div>
        <div class="right nav text_right">
            <ul></ul>
        </div>
    </header>

    <div class="con left">
        <!--选择时间-->
        <div class="select_time">
            <div class="static_top left">
                <i></i><a style="color: #25f3e6;" href="{% url "controller:index" %}">总体概况</a>
            </div>
            <div class="static_top left">
                <i></i><a href="{% url "controller:CRUD" %}"  style="color: #25f3e6;">信息录入</a>
            </div>
        </div>
        <!--数据总概-->
        <div class="con_div_text left">
            <div class="con_div_text01 left">
                <img src="{% static "controller/img/info_1.png" %}" class="left text01_img">
                <div class="left text01_div">
                    <p>车辆总数(辆)</p>
                    <p>12356</p>
                </div>
            </div>
            <div class="con_div_text01 right">
                <img src="{% static "controller/img/info_2.png" %}" class="left text01_img">
                <div class="left text01_div">
                    <p>车辆使用数(辆)</p>
                    <p>12356</p>
                </div>
            </div>
        </div>
        <div class="con_div_text left">
            <div class="con_div_text01 left">
                <img src="{% static "controller/img/info_4.png" %}" class="left text01_img">
                <div class="left text01_div">
                    <p>行驶里程总数(km)</p>
                    <p class="sky">12356</p>
                </div>
            </div>
            <div class="con_div_text01 right">
                <img src="{% static "controller/img/info_5.png" %}" class="left text01_img">
                <div class="left text01_div">
                    <p>行驶里程平均数(km)</p>
                    <p class="sky">12356</p>
                </div>
            </div>
        </div>
        <div class="con_div_text left">

            <div class="con_div_text01 left">
                <img src="{% static "controller/img/info_6.png" %}" class="left text01_img">
                <div class="left text01_div">
                    <p>行驶时长总数(s)</p>
                    <p class="org">12356</p>
                </div>
            </div>
            <div class="con_div_text01 right">
                <img src="{% static "controller/img/info_7.png" %}" class="left text01_img">
                <div class="left text01_div">
                    <p>行驶平均数(s)</p>
                    <p class="org">12356</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 信息展示与修改面板 -->
    <div class="con left">
        <div class="select_time">
            <div class="static_top left">
                <i></i><a id="1" href="#" style="color: #25f3e6;">车辆信息</a>
            </div>
            <div class="static_top left">
                <i></i><a id="2" href="#" style="color: #25f3e6;">故障信息</a>
            </div>
            <div class="static_top left">
                <i></i><a id="3" href="#" style="color: #25f3e6;">用户信息</a>
            </div>
            <div class="static_top left">
                <i></i><a id="4" href="#" style="color: #25f3e6;">行驶记录</a>
            </div>
            <div class="static_top left">
                <i></i><a id="5" href="#" style="color: #25f3e6;">场地信息</a>
            </div>
            <div class="static_top left">
                <i></i><a id="6" href="#" style="color: #25f3e6;">站点信息</a>
            </div>
        </div>


    </div>

    <div style="width: 100%;height: 5%;color: #04425f;"></div>

{#    <div><a href="{% url "controller:InfoAdd" %}">增加信息</a></div>#}

    <div class="CarInfoShowBackground" id="box1">
        <table border="1" class="InfoShowTable">
            <tr>
                <th>序号</th>
              <th>车辆id</th>
              <th>车牌号</th>
              <th>车型</th>
              <th>电量</th>
              <th>里程数</th>
              <th>是否在使用</th>
              <th>当前位置</th>
                <th>
{#                    <span>修改</span>#}
                    <i> </i><button onclick = "window.location.href = '{% url "controller:CarInfoAdd" %}'" >增加</button></th>
            </tr>
            {% for car in cars_obj %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ car.Car_id }}</td>
                <td>{{ car.Car_License }}</td>
                <td>{{ car.Car_Type }}</td>
                <td>{{ car.Car_Electric_Quantity }}</td>
                <td>{{ car.Car_Mileage }}</td>
                <td>{{ car.Car_IsUse }}</td>
                <td>({{ car.Car_Current_PosX }},{{ car.Car_Current_PosY }})</td>
                <td>
{#                    <button>编辑</button> #}
                    <button onclick = "window.location.href = '{% url "controller:CarInfoDel" %}?id={{ forloop.counter }}'">删除</button></td>
            </tr>
            {% endfor %}
          </table>
    </div>

    <div class="FailerInfoShowBackground" id="box2">
        <table border="1" class="InfoShowTable">
            <tr>
                <th>序号</th>
              <th>记录编号</th>
              <th>故障时间</th>
              <th>故障内容</th>
              <th>故障站点id</th>
              <th>故障车辆id</th>
              <th>
{#                  <span>修改</span>#}
                  <i> </i><button onclick = "window.location.href = '{% url "controller:FailureInfoAdd" %}'" >增加</button></th>
            </tr>


            {% for CarFailure in CarFailureLogs_obj %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ CarFailure.Record_id }}</td>
                    <td>{{ CarFailure.Fault_Time }}</td>
                    <td>{{ CarFailure.Fault_Type }}</td>
                    <td>{{ CarFailure.Fault_Station.Station_id }}</td>
                    <td>{{ CarFailure.Car_id.Car_id }}</td>
                <td>
{#                    <button>编辑</button> #}
                    <button onclick = "window.location.href = '{% url "controller:FailureInfoDel" %}?id={{ forloop.counter }}'">删除</button> </td>
                </tr>

            {% endfor %}


          </table>
    </div>

    <div class="UserInfoShowBackground" id="box3">
        <table border="1" class="InfoShowTable">
            <tr>
                <th>序号</th>
              <th>用户编号</th>
              <th>用户昵称</th>
              <th>联系方式</th>
              <th>注册时间</th>
              <th>用户账号</th>
              <th>用户密码</th>
{#              <th>用户预约车辆id</th>#}
              <th>用户身份</th>
              <th>
{#                  <span>修改</span>#}
                  <i> </i><button onclick = "window.location.href = '{% url "controller:UserInfoAdd" %}'" >增加</button></th>
            </tr>


            {% for user in UserInfos_obj %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.User_id }}</td>
                    <td>{{ user.User_Name }}</td>
                    <td>{{ user.User_Tel }}</td>
                    <td>{{ user.User_Register_Time }}</td>
{#                    <td>{{ user.User_Ordered_Car_id }}</td>#}
                    <td>{{ user.User_Identity }}</td>
                    <td>{{ user.UserAccount }}</td>
                    <td>{{ user.UserPwd }}</td>
                <td>
{#                    <button>编辑</button> #}
                    <button onclick = "window.location.href = '{% url "controller:UserInfoDel" %}?id={{ user.User_id }}'">删除</button> </td>
                </tr>

            {% endfor %}



          </table>
    </div>


    <div class="TravelInfoShowBackground" id="box4">
        <table border="1" class="InfoShowTable">
            <tr>
                <th>序号</th>
              <th>行驶记录编号编号</th>
              <th>开始时间</th>
              <th>已运行时间（分钟）</th>
              <th>行驶场地id</th>
              <th>车辆id</th>
               <th>
{#                   <span>修改</span>#}
                   <i> </i><button onclick = "window.location.href = '{% url "controller:TravelInfoAdd" %}'" >增加</button></th>
            </tr>

            {% for travellog in TravelLogs_obj %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ travellog.Record_id }}</td>
                <td>{{ travellog.Start_Time }}</td>
                <td>{{ travellog.Traveled_Time }}</td>
                <td>{{ travellog.Travel_Site.Site_id }}</td>
                <td>{{ travellog.Car_id.Car_id }}</td>
            <td>
{#                <button>编辑</button> #}
                <button onclick = "window.location.href = '{% url "controller:TravelInfoDel" %}?id={{ forloop.counter }}'">删除</button>
            </td>
            </tr>

            {% endfor %}


          </table>
    </div>

    <div class="SiteInfoShowBackground" id="box5">
        <table border="1" class="InfoShowTable">
            <tr>
                <th>序号</th>
              <th>场地编号</th>
              <th>场地名称</th>
              <th>场地位置坐标</th>
                 <th>
{#                     <span>修改</span>#}
                     <i> </i><button onclick = "window.location.href = '{% url "controller:SiteInfoAdd" %}'" >增加</button></th>
            </tr>

            {% for site in SiteInfos_obj %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ site.Site_id }}</td>
                    <td>{{ site.Site_Name }}</td>
                    <td>({{ site.Center_PosX }},{{ site.Center_PosY }})</td>
                    <td>
{#                        <button>编辑</button> #}
                        <button onclick = "window.location.href = '{% url "controller:SiteInfoDel" %}?id={{ forloop.counter }}'">删除</button>
                    </td>
                </tr>

            {% endfor %}



          </table>
    </div>

    <div class="StationInfoShowBackground" id="box6">
        <table border="1" class="InfoShowTable">
            <tr>
                <th>序号</th>
              <th>站点编号</th>
              <th>所属场地id</th>
              <th>站点名称</th>
              <th>站点位置坐标</th>
               <th>
{#                   <span>修改</span>#}
                   <i> </i><button onclick = "window.location.href = '{% url "controller:StationInfoAdd" %}'" >增加</button></th>
            </tr>

            {% for station in StationInfos_obj %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ station.Station_id }}</td>
                    <td>{{ station.Site_id.Site_id }}</td>
                    <td>{{ station.Station_Name }}</td>
                    <td>({{ station.Station_PosX }},{{ station.Station_PosY }})</td>
                    <td>
{#                        <button>编辑</button> #}
                        <button onclick = "window.location.href = '{% url "controller:StationInfoDel" %}?id={{ forloop.counter }}'">删除</button></td>
                </tr>

            {% endfor %}


          </table>
    </div>


    <script type="text/javascript" src="{% static "controller/js/ShowAndHide.js" %}">


    </script>



</body>


</html>