{% extends 'controller/InfoChangeBase.html' %}

{% block Title %}
    新增用户信息
{% endblock %}


{% block h1 %}
    新增用户信息
{% endblock %}

{% block ShowData %}
    <p>用户昵称：<input type="text" name="User_Name" required></p>
    <p>联系方式：<input type="text" name="User_Tel" required></p>
    <p>注册时间：<input type="text" name="User_Register_Time" required></p>
    <p>预约车辆id： <input type="text" name="User_Ordered_Car_id" required></p>
    <p>用户身份： <input type="text" name="User_Identity" required></p>
    <p>用户账号： <input type="text" name="UserAccount" required></p>
    <p>用户密码： <input type="text" name="UserPwd" required></p>
{% endblock %}